@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Raleway:300,400");
/*Colors*/

/*Primary Colors*/

$dark-blue1: hsl(217, 28%, 15%);
$dark-blue2: hsl(218, 28%, 13%);
$dark-blue3: hsl(216, 53%, 9%);
$dark-blue4: hsl(219, 30%, 18%);

/*accent Colors */
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);

/*Typography color*/

$white: hsl(0, 0%, 100%);

$font-size: 14px;

/*Mixins*/

@mixin link-hover($color) {
  transition: all 0.2s ease-in-out;
  &:hover,
  &:focus {
    color: $color;
  }
}

/*Styles */
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: $dark-blue3;
  max-width: 100vw;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
}
p {
  font-family: "Open Sans", sans-serif;
  margin: 10px 0;
}
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
input,
button {
  outline: none;
}
/*Styling For Desktops -Start*/

.container {
  background: $dark-blue1;
  color: $white;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  align-items: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size;
  font-weight: 400;
  margin: 10px;
}

.nav header {
  img {
    width: 100px;
  }
}
.nav nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;

  li {
    display: block;
    margin: auto 40px;

    a {
      @include link-hover($blue);
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  background: url("../images/bg-curvy-desktop.svg") no-repeat;
  background-position: bottom;
  width: 100%;
  height: auto;

  .hero-img {
    width: 600px;
    height: auto;
  }
  .hero-content {
    width: 600px;
    height: auto;
    padding: 50px;
  }

  a.hero-link {
    padding: 10px 40px;
    background: $blue;
    margin: 40px auto;
    border-radius: 20px;
    display: block;
    width: 150px;
    box-sizing: content-box;
    transition: all 0.3s ease-out;

    &:hover,
    &:focus {
      background: $white;
      color: $blue;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.features {
  width: 100%;
  background: $dark-blue2;
  display: grid;
  padding-top: 100px;
  grid-template-columns: 33% 33%;
  grid-template-rows: auto auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  .feature-tile {
    padding: 1em;
  }

  .feature-img {
    height: 100px;
    width: auto;
    img {
      display: block;
      height: auto;
      width: auto;
      margin: auto;
    }
  }

  p {
    font-weight: 300;
    font-family: $font-size;
  }
}

.how-works {
  background: $dark-blue2;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  a {
    color: $cyan;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      margin-top: 2px;
      background: $cyan;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after,
    &:focus::after {
      width: 150px;
    }
  }
  .how-works-img {
    width: 40%;
  }
  .how-works-content {
    width: 40%;
  }
}

.review-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background: $dark-blue2;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
  }

  .reviews {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: $dark-blue2;
  }

  .review-card {
    width: 30%;
    box-sizing: border-box;
    line-height: 1.3;
    font-size: $font-size;
    text-align: justify;
    padding: 20px 15px 15px 15px;
    background: $dark-blue4;
    z-index: 9999;
    box-shadow: 4px 4px 4px $dark-blue4;
    border-radius: 4px;
    p,
    h4 {
      margin: 0;
    }
  }
  .card-reviewer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin: 10px 0;
    p {
      font-size: 10px;
      font-weight: 400;
    }
    h4 {
      font-size: 14px;
    }
  }
}

#sign-up {
  width: 100%;
  padding: 100px 0;
  background: rgb(42, 46, 58);
  background: linear-gradient(180deg, $dark-blue2 50%, $dark-blue3 50%);

  .sign-up {
    width: 50%;
    padding: 40px 20px;
    background: $dark-blue4;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    p {
      margin: 1em auto;
    }
    h2 {
      margin-bottom: none;
    }
    form {
      display: flex;
      justify-content: space-around;

      width: 70%;
      margin: 20px auto;
    }

    form input {
      width: 60%;
      background: white;
      border: 1px solid $white;
      border-radius: 12px;
      height: 40px;
      padding: 5px 20px;
      box-sizing: border-box;
      z-index: 9999;
      color: $dark-blue2;
      transition: all 0.3s ease-in-out;

      &:focus {
        box-shadow: 0px 0px 7px $blue;
        border: 1px solid $blue;
      }
    }

    form button {
      background: $blue;
      border: none;
      color: $white;
      font-size: 14px;
      font-weight: bolder;
      border-radius: 15px;
      height: 40px;
      width: 35%;
      padding: 5px 10px;
      box-sizing: border-box;
      box-shadow: 4px 4px 4px $dark-blue1;
      z-index: 9999;
      transform-origin: 0%;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background: $white;
        color: $blue;
        cursor: pointer;
      }
    }
  }
}

#footer {
  display: flex;
  justify-content: space-around;
  background: $dark-blue3;
  color: $white;
  width: 90%;
  margin: 0px auto;
  position: relative;
  align-items: flex-start;
  min-height: 250px;
  padding: 80px 10px 10px 10px;
  line-height: 2;
  a {
    @include link-hover($blue);
  }
  div {
    max-width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-logo {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
  }

  .footer-contact {
    img {
      height: 20px;
      width: 20px;
      display: inline-block;
      margin-right: 10px;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: auto auto 10px auto;
    }
  }

  .footer-social-icons {
    min-width: 10%;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: auto;
      width: 100%;

      li {
        display: block;
      }
    }

    .fab {
      #footer-fb {
        color: #3b5998 !important;
      }
      .fa-twitter i {
        color: #1da1f2 !important;
      }
      .fa-instagram i {
        color: #db3158 !important;
      }
    }
  }
}
/*Styling For Desktops -End*/

/*Stlying for mobiles and tabs*/

@media (max-width: 900px) {
  .nav {
    width: 100%;
    margin: 10px auto;
  }

  .nav nav ul {
    li {
      margin: auto 10px;
    }
  }
  .hero {
    background: url("../images/bg-curvy-mobile.svg") no-repeat;
    background-position: bottom;
    .hero-img {
      width: 100%;
    }
    .hero-content {
      width: 100%;
      padding: 20px 5px;
    }

    img {
      width: 100%;
    }
  }

  .features {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }

  .how-works {
    flex-direction: column;

    .how-works-img,
    .how-works-content {
      width: 90%;
      margin: 20px auto;
    }
  }
  .review-section {
    padding: 40px 0;
    .reviews {
      flex-direction: column;
      width: 100%;

      .review-card {
        width: 90%;
        margin: 20px auto;
      }

      .card-reviewer {
        width: 100%;
      }
    }
  }
  #sign-up {
    .sign-up {
      width: 80%;
      padding: 20px 10px;
      form {
        flex-direction: column;
        width: 80%;
        margin: 20px auto auto;

        input,
        button {
          width: 100%;
          margin: 10px auto;
        }
      }
    }
  }

  #footer {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    .footer-logo {
      left: 20px;
    }

    div {
      max-width: 80%;
      margin: 10px 0;

      ul {
        padding: 0;
      }
    }

    .footer-social-icons {
      min-width: 40%;
    }
  }
}


